body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    border: 1px solid rgba(0, 0, 0, 0.158);
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
}

.column {
    padding: 0;
    margin: 0;
    border: 1px solid green;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color {
    background-color: aqua;
}

.button {
    background-color: rgba(0, 60, 255, 0.719);
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: aliceblue;
    font-weight: 700;
    margin: 20px;
    transition: 0.3s;

}

.button:hover {
    background-color: rgba(0, 102, 255, 0.719);
}